body {
  color: #fff;
  background: black;
  font-size: 21px;
  font-family: arial;
}

p {
  color: white;
}

.row{
	display: flex;
	
}

.column{
	flex:30%;
}

a:link{
	color:white;
}

a:visited{
	color: white;
}
