body {
  color: #fff;
  background: black;
  font-family: 'Courier New', monospace;
}

p {
  color: white;
  font-size: 18px;
  border-top: 20px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.internal{
  
}

.row{
	display: flex;
	
}

.column{
	flex:30%;
}

a:link{
	color:white;
  font-family: 'Courier New', monospace;
}

a:visited{
	color: white;
}

