 body {
  color: #fff;
  background: black;
  font-family: 'Courier New', monospace;
}

p {
  color: white;
  font-size: 18px;
  border-top: 20px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-bottom: 15px;
  flex: auto;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.cursor  {
    animation: cursor-blink 1.5s steps(2) infinite;
}


.row{
	display: flex;
	
}

.column{
flex: 50px;
margin-left: 50%;
  
}

a:link{
	color:white;
  font-family: 'Courier New', monospace;
}

a:visited{
	color: white;
}

.container{
align-items: center;
display: flex; 
justify-content: center; 
}

.logo{
align-items: center;
display: flex; 
justify-content: center; 
}
